@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: #ded0d0;
  color: #353535;
}

#main-wrapper {
  padding: 3em;
  /* height: 100%; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#time {
  width: 236px;
  height: 70px;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 49px;
  line-height: 57px;
}

#start-btn {
  border: none;
  width: 136px;
  height: 53px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  cursor: pointer;
}

.start-btn-stopped {
  background: #b49494;
}

.start-btn-started {
  background: tomato;
}

button:focus {
  outline: 0;
}

#start-btn-text {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  /* identical to box height */
  color: #e9e3e2;
}
