@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --main-bg: #515070;
  --main-color: #ffbb91;
  --button-bg-stopped: #7d7ca2;
  --button-bg-started: #ff6347;
  --white-color: #e9e3e2;
  --dark-text: #353535;
}

body,
html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: var(--main-bg);
  color: var(--main-color);
  display: flex;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
}

ol,
li {
  padding: 0;
  margin: 0;
}

#main-wrapper {
  min-width: 90vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#time {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 63px;
  line-height: 57px;
  margin-bottom: 1rem;
}

#start-btn {
  border: none;
  width: 136px;
  height: 53px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  cursor: pointer;
}

#start-btn:hover {
  position: relative;
  top: 1px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.start-btn-stopped {
  background: var(--button-bg-stopped);
}

.start-btn-started {
  background: var(--button-bg-started);
}

button:focus {
  outline: 0;
}

#start-btn-text {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  color: var(--white-color);
}

.times-list-wrapper {
  border-bottom: 11px solid var(--main-color);
  border-top: 11px solid var(--main-color);
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-radius: 0.5em;
  background-color: var(--white-color);
  /* height: 100vh; */
}

.hide-element {
  display: none;
}

#times-list-wrapper ol {
  padding: 10px 0;
  width: inherit;
}

#times-list-wrapper ol li {
  margin: 0;
  padding: 0 20px;
  font-style: normal;
  font-size: 20px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.result-time {
  color: var(--dark-text);
  cursor: pointer;
}

#calculation {
  font-family: "sans";
  color: var(--dark-text);
  padding-top: 10px;
  padding: 10px 20px;
  /* border-top: 2px solid #ded0d0; */
  font-size: 1.1em;
  margin-bottom: 10px;
}

.calculation-total {
  font-weight: bold;
}
