@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body,
html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: #ded0d0;
  color: #353535;
  display: flex;
  justify-content: center;
}

ol,
li {
  padding: 0;
  margin: 0;
}

#main-wrapper {
  min-width: 60vw;

  /* margin: 0 2em; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#time {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  width: 100%;
  /* height: 70px; */
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 63px;
  line-height: 57px;
  margin-bottom: 1rem;
}

#start-btn {
  border: none;
  width: 136px;
  height: 53px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  cursor: pointer;
}

.start-btn-stopped {
  background: #b49494;
}

.start-btn-started {
  background: tomato;
}

button:focus {
  outline: 0;
}

#start-btn-text {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  color: #e9e3e2;
}

#times-list-wrapper {
  /* height: 100%; */
  width: 100%;
  max-width: 600px;
  /* min-height: 100px; */
  /* padding: 10px; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;
  /* padding: 10px 0; */
  border-radius: 2em;
  background-color: #e9dfdf;
}

#times-list-wrapper ol {
  padding: 10px 0;
  width: inherit;
  /* margin-bottom: 10px; */
}

#times-list-wrapper ol li {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  /* line-height: 35px; */
  list-style-type: none;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.result-time {
  color: #353535;
}

/* .remove {
  padding-left: 10px;
  color: #b49494;
} */

#calculation {
  font-family: "sans";
  color: blue;
  padding-top: 10px;
  margin-left: 20px;
  border-top: 1px solid #b49494;
  font-size: 1.1em;
  margin-bottom: 10px;
}
